/* General styles */
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #fff;
    color: #000000 !important; 
    padding: 0.5rem 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    height: 50px;
    width: auto;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #f39c12;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
}
.booknowbtn
{
    background-color: #1a4b8c;
    color: white !important;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 600;
}
.booknowbtn:hover
{
    background-color: #163d6f;
    color: black !important;
}
/* Responsive Styles */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        padding: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .nav-links li {
        margin: 0.5rem 0;
    }

    .nav-links li a {
        font-size: 1rem;
    }
}
