Redirect 301 /courses/navmaster/ https://ecdisplus.com/bestecdistrainingcourses.php
Redirect 301 /courses/navmaster https://ecdisplus.com/bestecdistrainingcourses.php
Redirect 301 /courses/jrc https://ecdisplus.com/jrc-ecdis-course-in-navi-mumbai
Redirect 301 /courses/old-ecdis https://ecdisplus.com/bestecdistrainingcourses.php
